# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (Safe to ignore if using Go Modules)
vendor/

# Environment file
.env

# OS specific files (macOS & Linux)
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
*~
.directory

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
